<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<ul class = "nav navbar-nav navbar-left">
<li><%= link_to image_tag("home_icon.svg", width: "45", alt: "home icon"), root_path, id: "Home"%></li>
</ul>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Discover", "#", class: "header-text"%></li>
<li><%= link_to image_tag("menu.svg", width: "45", alt: "menu icon"), "https://www.linkedin.com/in/patrickruan/", id: "Menu" %></li>
</ul>
</nav>
</div>
</header>