<%provide(:title)%>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        <%=@user.username %>
        </div>
        <div class="span10">
        </div>
    </div>
</div>
